{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set pageTitle = 'demacmedia_erp.accounts.entity.label'|trans %}

{% block stats %}
    {% include 'OroWorkflowBundle:Widget:steps.html.twig' with { 'entity': entity } %}
{% endblock %}

{% block pageHeader %}
    {% include 'DemacMediaErpBundle:Default:headerStats.html.twig' with { 'entity': entity } %}
{% endblock %}

{% block content_data %}
<div id="contactView" class="navbar navbar-static scrollspy-nav">
    <div class="navbar-inner">
        <div class="container-fluid" style="width: auto;">
            <ul class="nav">
                <li class="active"><a href="#">General Information</a></li>
                <li class=""><a href="#physical-store-orders">Web Store Orders</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="responsive-cell">
        <div class="row-fluid form-horizontal">
                <div class="responsive-block span6">

                    <div class="control-group">
                        <label class="control-label">Account Number:</label>
                        <div class="controls">
                            <div class="control-label">{{ entity.accountNumber|escape|default('N/A') }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">First Name:</label>
                        <div class="controls">
                            <div class="control-label">{{ entity.firstName|escape|default('N/A') }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Last Name:</label>
                        <div class="controls">
                            <div class="control-label">{{ entity.lastName|escape|default('N/A') }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Original Email (key):</label>
                        <div class="controls">
                            <div class="control-label">{{ entity.originalEmail|escape|default('N/A') }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Email:</label>
                        <div class="controls">
                            <div class="control-label">{{ entity.email|escape|default('N/A') }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Website ID:</label>
                        <div class="controls">
                            <div class="control-label">{{ entity.websiteId|escape|default('N/A') }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Created At:</label>
                        <div class="controls">
                            <div class="control-label">
                                {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A'|trans }}
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Updated At:</label>
                        <div class="controls">
                            <div class="control-label">
                                {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A'|trans }}
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Imported At:</label>
                        <div class="controls">
                            <div class="control-label">
                                {{ entity.created ? entity.created|oro_format_datetime : 'N/A'|trans }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="responsive-block span6">
                    <div class="control-group">
                        <label class="control-label">Lifetime Sales:</label>
                        <div class="controls">
                            <div class="control-label">
                                <span class="label label-success">
                                    {{ entity.lifetime ? entity.lifetime|oro_format_currency : 'N/A'|trans }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Lifetime Sales <br />(All Websites):</label>
                        <div class="controls">
                            <div class="control-label">
                                <span class="label label-info">
                                    {{ entity.lifetimeall ? entity.lifetimeall|oro_format_currency : entity.lifetime|oro_format_currency }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <br />
</div>

<div class="responsive-section responsive-big responsive-section-no-blocks" style="margin-left: 15px;">
    <h4 class="scrollspy-title">Web Orders for: <strong>{{ entity.firstName|escape|default('N/A') }} {{ entity.firstName|escape|default('') }}</strong></h4>
    <div id="physical-store-orders" class="scrollspy-nav-target"></div>
    <div class="row-fluid">
        <div class="form-horizontal">
            <div class="responsive-cell responsive-cell-no-blocks">
                {% set gridName = 'erp-orders-specific-grid' %}
                {% set gridFilters = { 'original_email': entity.originalEmail } %}
                {{ dataGrid.renderGrid(gridName, gridFilters) }}
            </div>
        </div>
    </div>
</div>
{% endblock content_data %}